@keyframes ikNode_6 {
	0% {
		transform: matrix(0.9997406005859375,0.00506591796875,-0.00506591796875,0.9997406005859375,327.3,265);
		animation-timing-function: linear;
	}
	12.5% {
		transform: matrix(0.6819915771484375,0.7309112548828125,-0.7309112548828125,0.6819915771484375,387.5,168.95);
		animation-timing-function: ease-out;
	}
	31.944444444444443% {
		transform: matrix(-0.06903076171875,0.9972991943359375,-0.9972991943359375,-0.06903076171875,448.3,156);
		animation-timing-function: ease-in-out;
	}
	41.66666666666667% {
		transform: matrix(0.5060272216796875,0.86212158203125,-0.86212158203125,0.5060272216796875,350.95,200.35);
		animation-timing-function: linear;
	}
	50% {
		transform: matrix(0.99920654296875,0.031524658203125,-0.031524658203125,0.99920654296875,327.2,265.1);
		animation-timing-function: linear;
	}
	54.166666666666664% {
		transform: matrix(0.9995880126953125,0.01507568359375,-0.01507568359375,0.9995880126953125,327.2,265.05);
		animation-timing-function: linear;
	}
	56.94444444444444% {
		transform: matrix(0.9996795654296875,0.00506591796875,-0.00506591796875,0.9996795654296875,327.25,264.95);
		animation-timing-function: ease-out;
	}
	100% {
		transform: matrix(0.9996795654296875,0.00506591796875,-0.00506591796875,0.9996795654296875,327.25,264.95);
		animation-timing-function: linear;
	}

}
@keyframes ikNode_3 {
	0% {
		transform: matrix(0.999603271484375,-0.0152435302734375,0.0152435302734375,0.999603271484375,191.6,264.1);
		animation-timing-function: linear;
	}
	12.5% {
		transform: matrix(0.703582763671875,-0.7100982666015625,0.7100982666015625,0.703582763671875,268.65,172.05);
		animation-timing-function: ease-out;
	}
	31.944444444444443% {
		transform: matrix(0.5060272216796875,0.862091064453125,-0.862091064453125,0.5060272216796875,413.3,27.55);
		animation-timing-function: ease-in-out;
	}
	41.66666666666667% {
		transform: matrix(-0.521820068359375,0.8526458740234375,-0.8526458740234375,-0.521820068359375,352.9,72.85);
		animation-timing-function: linear;
	}
	50% {
		transform: matrix(0.823089599609375,0.5672760009765625,-0.5672760009765625,0.823089599609375,195.35,252.5);
		animation-timing-function: linear;
	}
	54.166666666666664% {
		transform: matrix(0.9995574951171875,0.0149383544921875,-0.0149383544921875,0.9995574951171875,191.45,263.95);
		animation-timing-function: linear;
	}
	56.94444444444444% {
		transform: matrix(0.9995574951171875,-0.015228271484375,0.015228271484375,0.9995574951171875,191.55,264.05);
		animation-timing-function: ease-out;
	}
	100% {
		transform: matrix(0.9995574951171875,-0.015228271484375,0.015228271484375,0.9995574951171875,191.55,264.05);
		animation-timing-function: linear;
	}

}
@keyframes ikNode_7 {
	0% {
		transform: matrix(0.9991455078125,-0.032135009765625,0.032135009765625,0.9991455078125,371.85,264.45);
		animation-timing-function: linear;
	}
	12.5% {
		transform: matrix(0.4711151123046875,0.881591796875,-0.881591796875,0.4711151123046875,412.45,205.55);
		animation-timing-function: ease-out;
	}
	31.944444444444443% {
		transform: matrix(-0.098876953125,0.9947052001953125,-0.9947052001953125,-0.098876953125,444.4,200.55);
		animation-timing-function: ease-in-out;
	}
	41.66666666666667% {
		transform: matrix(0.8193206787109375,0.5726165771484375,-0.5726165771484375,0.8193206787109375,381.9,231.5);
		animation-timing-function: linear;
	}
	50% {
		transform: matrix(0.999542236328125,-0.0108184814453125,0.0108184814453125,0.999542236328125,371.8,265.45);
		animation-timing-function: linear;
	}
	54.166666666666664% {
		transform: matrix(0.99932861328125,-0.0238037109375,0.0238037109375,0.99932861328125,371.85,264.8);
		animation-timing-function: linear;
	}
	56.94444444444444% {
		transform: matrix(0.9990997314453125,-0.0321197509765625,0.0321197509765625,0.9990997314453125,371.8,264.35);
		animation-timing-function: ease-out;
	}
	100% {
		transform: matrix(0.9990997314453125,-0.0321197509765625,0.0321197509765625,0.9990997314453125,371.8,264.35);
		animation-timing-function: linear;
	}

}
@keyframes ikNode_4 {
	0% {
		transform: matrix(0.9996337890625,0.0106964111328125,-0.0106964111328125,0.9996337890625,236.85,263.9);
		animation-timing-function: linear;
	}
	12.5% {
		transform: matrix(0.9549713134765625,-0.295379638671875,0.295379638671875,0.9549713134765625,307.2,150.3);
		animation-timing-function: ease-out;
	}
	31.944444444444443% {
		transform: matrix(0.3714599609375,0.92803955078125,-0.92803955078125,0.3714599609375,432.8,68.45);
		animation-timing-function: ease-in-out;
	}
	41.66666666666667% {
		transform: matrix(-0.23681640625,0.9711456298828125,-0.9711456298828125,-0.23681640625,336.65,114.5);
		animation-timing-function: linear;
	}
	50% {
		transform: matrix(0.9994964599609375,0.0173492431640625,-0.0173492431640625,0.9994964599609375,236.9,264.05);
		animation-timing-function: linear;
	}
	54.166666666666664% {
		transform: matrix(0.9996185302734375,0.0037384033203125,-0.0037384033203125,0.9996185302734375,236.8,264.2);
		animation-timing-function: linear;
	}
	56.94444444444444% {
		transform: matrix(0.99957275390625,0.010711669921875,-0.010711669921875,0.99957275390625,236.8,263.85);
		animation-timing-function: ease-out;
	}
	100% {
		transform: matrix(0.99957275390625,0.010711669921875,-0.010711669921875,0.99957275390625,236.8,263.85);
		animation-timing-function: linear;
	}

}
@keyframes ikNode_1 {
	0% {
		transform: matrix(0.9996185302734375,0.0142364501953125,-0.0142364501953125,0.9996185302734375,100.4,263.55);
		animation-timing-function: linear;
	}
	12.5% {
		transform: matrix(0.895721435546875,-0.443756103515625,0.443756103515625,0.895721435546875,210.3,238.65);
		animation-timing-function: ease-out;
	}
	31.944444444444443% {
		transform: matrix(0.999603271484375,0.0099639892578125,-0.0099639892578125,0.999603271484375,337.15,-12.6);
		animation-timing-function: ease-in-out;
	}
	41.66666666666667% {
		transform: matrix(-0.999420166015625,0.021514892578125,-0.021514892578125,-0.999420166015625,423.35,25.1);
		animation-timing-function: linear;
	}
	50% {
		transform: matrix(-0.2251434326171875,0.9739532470703125,-0.9739532470703125,-0.2251434326171875,163.75,175.8);
		animation-timing-function: linear;
	}
	54.166666666666664% {
		transform: matrix(0.837188720703125,0.5462493896484375,-0.5462493896484375,0.837188720703125,104.15,254.4);
		animation-timing-function: linear;
	}
	56.94444444444444% {
		transform: matrix(0.9995574951171875,0.0142364501953125,-0.0142364501953125,0.9995574951171875,100.35,263.45);
		animation-timing-function: ease-out;
	}
	100% {
		transform: matrix(0.9995574951171875,0.0142364501953125,-0.0142364501953125,0.9995574951171875,100.35,263.45);
		animation-timing-function: linear;
	}

}
@keyframes ikNode_8 {
	0% {
		transform: matrix(0.998016357421875,0.0579071044921875,-0.0579071044921875,0.998016357421875,415.15,265.45);
		animation-timing-function: linear;
	}
	12.5% {
		transform: matrix(0.3528594970703125,0.9352874755859375,-0.9352874755859375,0.3528594970703125,429.8,245.2);
		animation-timing-function: ease-out;
	}
	31.944444444444443% {
		transform: matrix(-0.09893798828125,0.9947357177734375,-0.9947357177734375,-0.09893798828125,440,244);
		animation-timing-function: ease-in-out;
	}
	41.66666666666667% {
		transform: matrix(0.8573760986328125,0.5139312744140625,-0.5139312744140625,0.8573760986328125,418.4,254.95);
		animation-timing-function: linear;
	}
	50% {
		transform: matrix(0.999237060546875,0.02825927734375,-0.02825927734375,0.999237060546875,415.25,266.1);
		animation-timing-function: linear;
	}
	54.166666666666664% {
		transform: matrix(0.9985809326171875,0.0460205078125,-0.0460205078125,0.9985809326171875,415.15,265.65);
		animation-timing-function: linear;
	}
	56.94444444444444% {
		transform: matrix(0.997955322265625,0.0579071044921875,-0.0579071044921875,0.997955322265625,415.15,265.4);
		animation-timing-function: ease-out;
	}
	100% {
		transform: matrix(0.997955322265625,0.0579071044921875,-0.0579071044921875,0.997955322265625,415.15,265.4);
		animation-timing-function: linear;
	}

}
@keyframes ikNode_5 {
	0% {
		transform: matrix(0.999603271484375,0.0163116455078125,-0.0163116455078125,0.999603271484375,282.1,264.6);
		animation-timing-function: linear;
	}
	12.5% {
		transform: matrix(0.9936370849609375,0.109710693359375,-0.109710693359375,0.9936370849609375,351.2,147.6);
		animation-timing-function: ease-out;
	}
	31.944444444444443% {
		transform: matrix(0.2285919189453125,0.973175048828125,-0.973175048828125,0.2285919189453125,446,111.5);
		animation-timing-function: ease-in-out;
	}
	41.66666666666667% {
		transform: matrix(0.1204071044921875,0.992401123046875,-0.992401123046875,0.1204071044921875,335.3,158.85);
		animation-timing-function: linear;
	}
	50% {
		transform: matrix(0.9996795654296875,-0.0033416748046875,0.0033416748046875,0.9996795654296875,282.1,264.2);
		animation-timing-function: linear;
	}
	54.166666666666664% {
		transform: matrix(0.9996490478515625,0.0063629150390625,-0.0063629150390625,0.9996490478515625,282.1,264.5);
		animation-timing-function: linear;
	}
	56.94444444444444% {
		transform: matrix(0.999542236328125,0.016326904296875,-0.016326904296875,0.999542236328125,282.05,264.55);
		animation-timing-function: ease-out;
	}
	100% {
		transform: matrix(0.999542236328125,0.016326904296875,-0.016326904296875,0.999542236328125,282.05,264.55);
		animation-timing-function: linear;
	}

}
@keyframes ikNode_2 {
	0% {
		transform: matrix(0.9994964599609375,0.0163116455078125,-0.0163116455078125,0.9994964599609375,145.75,263.95);
		animation-timing-function: linear;
	}
	12.5% {
		transform: matrix(0.5059967041015625,-0.8620147705078125,0.8620147705078125,0.5059967041015625,240.9,208.3);
		animation-timing-function: ease-out;
	}
	31.944444444444443% {
		transform: matrix(0.90435791015625,0.42572021484375,-0.42572021484375,0.90435791015625,380.6,-1.85);
		animation-timing-function: ease-in-out;
	}
	41.66666666666667% {
		transform: matrix(-0.806732177734375,0.59014892578125,-0.59014892578125,-0.806732177734375,383.25,40.05);
		animation-timing-function: linear;
	}
	50% {
		transform: matrix(0.3715362548828125,0.9279327392578125,-0.9279327392578125,0.3715362548828125,168.35,218.45);
		animation-timing-function: linear;
	}
	54.166666666666664% {
		transform: matrix(0.9989166259765625,-0.03631591796875,0.03631591796875,0.9989166259765625,145.75,264.25);
		animation-timing-function: linear;
	}
	56.94444444444444% {
		transform: matrix(0.9994354248046875,0.0163116455078125,-0.0163116455078125,0.9994354248046875,145.75,263.9);
		animation-timing-function: ease-out;
	}
	100% {
		transform: matrix(0.9994354248046875,0.0163116455078125,-0.0163116455078125,0.9994354248046875,145.75,263.9);
		animation-timing-function: linear;
	}

}
#ikNode_6 {
	animation: ikNode_6 3s infinite;
	animation-delay: 0s;
}
#ikNode_3 {
	animation: ikNode_3 3s infinite;
	animation-delay: 0s;
}
#ikNode_7 {
	animation: ikNode_7 3s infinite;
	animation-delay: 0s;
}
#ikNode_4 {
	animation: ikNode_4 3s infinite;
	animation-delay: 0s;
}
#ikNode_1 {
	animation: ikNode_1 3s infinite;
	animation-delay: 0s;
}
#ikNode_8 {
	animation: ikNode_8 3s infinite;
	animation-delay: 0s;
}
#ikNode_5 {
	animation: ikNode_5 3s infinite;
	animation-delay: 0s;
}
#ikNode_2 {
	animation: ikNode_2 3s infinite;
	animation-delay: 0s;
}
